<!DOCTYPE html>
<html>
<head>
  <title>Hituzi</title>
  <%= stylesheet_link_tag    "hituzi/application", media: "all" %>
  <%= javascript_include_tag "hituzi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
